################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Proiect 2/bin/Debug/Proiect 2.exe.config
