################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Proiect 2/bin/Debug/Proiect 2.exe.config
/Proiect 2/obj/Debug
/.vs
/.vs
/.vs
*.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
