<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FilePathRead" value="C:\Users\User\Desktop\facultate\Modelarea protocoalelor de securitate\Proiect 2\Proiect 2\Data\Input.txt"/>
    <add key="FilePathWrite" value="C:\Users\User\Desktop\facultate\Modelarea protocoalelor de securitate\Proiect 2\Proiect 2\Data\Output.txt"/>
  </appSettings>
</configuration>